@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider:before {
    background-color: #fff;
    bottom: 3px;
    left: 4px;
    content: "";
    height: 20px;
    position: absolute;
    transition: 0.4s;
    width: 20px;
  }

  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}
